<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<div class="wrapper">
  <div class="main-content">
    
    <h1>Green Eggs & Ham</h1>

    <div id="posts">
      <% @posts.each do |post| %>
        <%= render post %>
    
        <p>
          <%= link_to "Read more", post %>
        </p>
    
        <hr>
    
      <% end %>
    </div>
    
    <%= link_to "Write new post", new_post_path %>

  </div>

  <footer>
    <span>Avion School 2025<span>
  </footer>

</div>
