<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Blogpalooza</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>

    <p>
      <%= link_to "Read more", post %>
    </p>

    <hr>

  <% end %>
</div>

<%= link_to "Write New post", new_post_path %>
