<% content_for :title, "New post" %>

<div class="wrapper">
  <div class="main-content">
   
    <h1>New post</h1>

    <%= render "form", post: @post %>
    
    <br>
    
    <div>
      <%= link_to "Back to posts", posts_path %>
    </div>

  </div>

  <footer>
    Avion School 2025
  </footer>
  
</div>


